<header>
    <p class="brandName">Math<span>as</span></p>
    <div id="translateDiv">
        <img id='english' class="language selectedLanguage" src='/images/english.jpg' />
        <img id='estonian' class="language" src='/images/estonian.jpg' />
        <img id='russian' class="language" src='/images/russian.jpg' />
    </div>
</header>