footer{
	position: relative;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 25px 35px;
	padding-top: 15px;
	margin-top: 20px;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.6);
	background-color: $darkGreen;

	.brandName{ text-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); }
	#scrollToTop{
		position: absolute;
		right: 12px;
		bottom: 100%;
		padding: 2px 12px;
		cursor: pointer;
		transform: rotateZ(270deg);
		color: #fbfbfb;
		background-color: $darkGreen;
		@include border-radius(10px 20px 20px 10px);
		box-shadow: $defaultShadow;
		text-shadow: 0 4px 8px rgba(0,0,0,0.2);
		z-index: 100;
		&:hover{
			background-color: #fbfbfb;
			color: $darkGreen;
		}
	}
	#copy{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 80%;
		text-align: center;
		color: $secondaryGrey;
		background-color: $darkGreen;
	}
}