#socialMediaTop{
	position: fixed;
	left: 10px;
	top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1500;

	img{ @extend %icon; }
}
#socialMediaBottom{
	@extend #socialMediaTop;
	left: unset;
	top: unset;
	right: 10px;
	bottom: 10px;

	div{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		
		p{
			position: absolute;
			right: -100%;
			width: 160px;
			margin: 0;
			padding: 6px 10px;
			@include border-radius($defaultRadius);
			box-shadow: 0 4px 8px rgba(0,0,0,0.1);
			color: $secondaryWhite;
			background-color: #008888;
			display: none;
			animation: socialPhonePAni 0.5s forwards;
			z-index: 1000;
		}
	}
}

@keyframes socialPhonePAni{
	from{ right: -100%; }
	to{ right: 0; }
}