$darkGreen: #64706c;
$primaryGreen: lightgreen;
$secondaryGreen: #18a888;
$primaryBlue: lightblue;
$secondaryBlue: #1888a8;
$primaryRed: #f87a7c;
$secondaryRed: crimson;
$primaryBrown: rgb(180, 105, 105);
$secondaryBrown: brown;
$primaryYellow: goldenrod;
$secondaryYellow: gold;
$primaryWhite: white;
$secondaryWhite: #fbfbfb;
$primaryGrey: #eee;
$secondaryGrey: #b5b5b7;
$primaryBlack: #2d333a;
$secondaryBlack: #262b30;
$paraColor: rgba(0,0,0,0.87);
$defaultRadius: 5px;
$defaultShadow: 0 3px 6px rgba(0,0,0,0.1);