{{>header}}

{{>socialMedia}}

{{!-- Main Sign In --}}
<div id="signInDiv">
    <input type="button" id="signInMain" value="Sign In" />
    <div id="signInButtons">
        <p>with:</p>
        <button id="mainGoogleLogIn" class="googleLogIn">Google</button>
        <button id="mainFacebookLogIn" class="facebookLogIn">Facebook</button>
    </div>
</div>
{{!-- Signed In User --}}
<img id='loggedInUser' class="socialImage commentThumb" title="Sign Out" />

<section id="mainSection">
    <div>
        <span id="numPlayers">Players: 0</span>
        <span id="score">Score: 0</span>
    </div>
    <div id="questionCard">
        <p id="textPad">Wait for next round...</p>
        <span id="timer">5</span>
        <div id="buttonHolder">
            <button id="yesButton">Yes</button>
            <button id="noButton">No</button>
        </div>
    </div>
</section>

{{>footer}}

{{!-- Scripts --}}
<script src="/socket.io/socket.io.js" async></script>
{{!-- <script type="text/javascript" src='/js/homePage.min.js' async></script> --}}
<script type="text/javascript" src='/js/bundle.min.js' async></script>
